@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
}

body{  
    
    background-image: url('../assets/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Rubik;
    
}

.resultadocontainer{
    background:linear-gradient(rgb(253, 242, 242),rgb(132, 128, 128));
    box-shadow: 9px -7px 5px black;
    color: black;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    margin-top: 180px;
    margin-bottom: 80px;

}
.parrafo{
    position: absolute;
    padding-top: 100px;
}

.parrafo::before {
    content: "📢 "; 
    font-size: 1.2em;
    margin-right: 5px;
}


h1{
    font-size: 4rem;
    position: absolute;
}


@keyframes ola {
    0%,
    100% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100% );
    }
    50%{
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100% );
 
    }
}

.ola{
    color: #09f;
    animation: ola 3s ease-in-out infinite;
}
